.btn {
    font-size: 1.2rem;
    border-radius: 5px;
}

.btn-danger, .btn-primary:hover, .btn-danger:disabled {
    background-color: var(--purple);
    border: var(--green) solid 2px;
    color: var(--green);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.btn-primary, .btn-danger:hover, .btn-primary:disabled {
    background-color: var(--green);
    border: var(--purple) solid 2px;
    color: var(--purple);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}