.background_image {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    position: fixed;
    overflow-y: scroll;
    object-fit: cover;
    padding: 1rem 0 1rem;
}

.night {
    background-image: url(../images/evening-field-football-field-goal-399187.jpg);
}

.day {
    background-image: url(../images/white-and-black-soccer-ball-on-side-of-green-grass-field-47343\ \(1\).jpg);
}