* {
    box-sizing: border-box;
}

.container {
    background-color: white;
    opacity: 0.95;
    width: 50%;
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    .container {
        width: 85%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 75%;
    }
}

.history-table {
    width: 75%;
}

@media screen and (max-width: 991px){
    .history-table {
        width: 95%;
    }
}

.main-title {
    background-color: rgb(36,14,55);
    padding: 2rem 0rem;
    border: 0.8rem rgb(128, 228, 137) solid;
    margin-bottom: 1.5rem;
}

.container {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

/* buttons and link layouts */

.adjacent-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.central-button {
    text-align: center;
}

