@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

:root {
    --purple: rgb(36,14,55);
    --green: rgb(128,228,137);
    --roboto: 'Roboto', sans-serif;
    --bebas: 'Bebas Neue', cursive;
    --openSans: 'Open Sans Condensed', sans-serif;
}

/* Loading bar styling */
.progress div {
    width: 100%;
    background-color: var(--green);
}

.loading-message p {
    margin: 0.5rem 0;
}
