.title-text {
    color: white;
    text-align: center;
    font-family: var(--bebas);
}

.title-text h1 {
    font-size: 4rem;
    letter-spacing: 0.03em;
}

.title-text h5 {
    font-size: 2rem;
}

.container {
    font-family: var(--openSans);
    font-size: 1.2rem;
}

.team-name-list {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 0.5rem; 
}


