.title-text {
    color: white;
    text-align: center;
    font-family: var(--bebas);
}

.title-text h1 {
    font-size: 4rem;
    letter-spacing: 0.03em;
}

.title-text h5 {
    font-size: 2rem;
}

.container {
    font-family: var(--openSans);
    font-size: 1.2rem;
}

.team-name-list {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 0.5rem; 
}

.card {
    border-bottom: none;
    border-top: none;
}

.card-title {
    background-color: var(--purple);
    padding: 0.3rem;
    margin: 0;
    color: var(--green);
}

.list-group-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
}

.list-group-item-text {
    margin-bottom: 0.5rem;
}

.average-info {
    padding: 0.4rem;
    margin: 0;
    background-color: var(--green);
    color: var(--purple);
}

.instructions-para {
    margin-bottom: 0.5rem;
}

.name-picker-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.name-picker-para {
    margin-bottom: 0.2rem;
    text-align: center;
    align-self: center;
}

.instructions-heading {
    text-align: center;
}

